/**
 * hw #1 style.css
 **/

/* * {
    text-align: center;
} */

html, body {
    height: 100%;
}

/* sets up default font-size, display and 
 * flex-direction is put in for sticky footer */
body {
    font-size: 24px;
    display: flex;
    flex-direction: column;

}
 
/* sets up header fixed width, and centers text and sets */
.pagehead {
    background: #ffffff;
    width: 960px;
    margin: 0 auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
  
/* used for name text - top left */
h1 {
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    padding: 35px;
    font-weight: bold;
}



/* common tag for top sections and the content section */
div {
    /* padding: 5px; */
    background: #ffffff;
}

/* push header divs left and right inside of the header */
#topleft {
    float: left;
    width: auto;
    font-size: 30px;
}
  
#topright {
    float: right;
    width: auto;
}
/* links to other pages - top right */
h2 {
    font-size: 22px;
    text-align: right;
    color: #4aaaa5;
    background-color: #ffffff;
    padding-top: 35px;
    padding-bottom: 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* margin-top: 25px; */

}
h2 a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    border-left: 3px solid #efefef;
  }
  
  h2 a:first-child {
    border-left: 0 none;
  }
  
/* a tags: sets what happens when mouse moves over
links or what happens when a link is clicked */
a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
  }

a:hover {
    text-decoration: underline;
    color: inherit;
}

/* top level section for vertical middle of web page 
also sets wallpaper behind content box*/
#middle {
    width: auto;
    overflow: auto;
    clear: both;
    background-image: url("../images/45degree_fabric.png");
    border-top-color: #ccc;
    border-top-width: 2px ;
    border-top-style: solid;
    flex: 1 0 auto;
}

.middlecontainer{
    width:960px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}
/* main content box for page - vertical middle of page - part of #middle */
#middleleftcontent {
    float: left;
    padding: 30px;
    background: #ffffff;
    width: 440px;
    border: 1px solid #ddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 32px;
    font-size: 30px;

}
/* formats section where the content lives */
/* formats contact of index.html content section */

#middletexttitle {
    padding-bottom: 23px;
    margin-bottom: 20px;
    color: #ddd;
    border-bottom: 2px solid #eee;
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5; 
    font-weight: bold;
}

/* index.html about me content */ 
  h4{
    color:  #777777;
    text-align: left;
    font-size: 20px;

  }

#middletextcontent {
    word-wrap: normal;
    padding-top: 18px;
    
}

#middlerightcontent {
    float: right;
    width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.socialimages {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 4px;
  }
  

/* connect with me text formatting */

#connectwithme {
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 22px;
  color: #4aaaa5; 




}

/* used on the portfolio images - portfolio.html to define
 the layout of each image, also on defines the size, location, 
 etc of theadshot image in index.html */
.portfoliodiv {
    width: 200px;
    height: 142px;
    float: left;
    top:0;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;

}

img {
    height: 100%;
    width: 100%;
}
#aboutmeheadshot  {
    width: 200px;
    float: left;
    top:0;
    position: relative;
    margin-right: 30px;
    display: block;

}

.portfoliotextbox {
    position: absolute;
    height: 25px;
    width: 100%;
    left: 0;
    bottom:15px;
    font-size: 16px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding-bottom: 3px;

}

/* input sections used in Contact.html code */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: left;
}

/* input section used in Contact.html code */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* formatting for contact content */
.contacttext{
    text-align: left;
    color: #4aaaa5;
}

  #bottom-line {
    padding: 2px;
    clear: both;
    background: #4aaaa5;
  }

  /* footer details...clear:both will make it on it's own line
     also has flex attribute for sticky footer to match with
     code in body up above */
  footer { 
    clear: both;
    background: #666;
    flex-shrink: 0;
    
  }
  
  /* font for copyright text in footer */
  h5{
    font-size: 10px;
    color: #ccc;
    /* bottom: 0; */
    text-align: center;
  }

 
/*
  These rules take effect when the browser's width
*/


/* screen is either 980px or less in width */
@media screen and (max-width: 980px) {
    .pagehead {
        width:730px;
    }


    .middlecontainer {
        width: 730px;
        /* margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 110px;
        margin-left: auto;
        margin-right: auto; */
    }

     #middleleftcontent {
        width: 360px;
        margin-bottom: 30px;
    }

    #middlerightcontent {
        width: 210px;
        /* margin-left: 0; */

    } 
}


/* screen is either 768px or less in width */
@media screen and (max-width: 768px) {
    .pagehead {
        width:720px;
    }


    .middlecontainer {
        width: 720px;
        /* margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 110px;
        margin-left: auto;
        margin-right: auto; */
    }

    #aboutmeheadshot {
        width: 659px;
    }


    #middle{
        width: auto;
    }

     #middleleftcontent {
        width: 659px;
        margin-bottom: 42px;
    }

    #middlerightcontent {
        width: 659px;
        margin-left: 0;

    } 
    
    .portfoliodiv {
        width: 283px;
        height: 236px;
        margin-right: 40px;
        margin-bottom: 40px;
    }
}

/* screen is either 640px or less in width */
@media screen and (max-width: 640px) {
    .pagehead {
        width:640px;
    }

    #topleft {
        width:640px;
        
    }

    #topright {
        width:640px;

    }

    h2 {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
    }
    
    #middle{
        width: 640px;
    }

    .middlecontainer {
        width: 600px;
        margin-top: 20px;
        /*margin-bottom: 110px;
        margin-left: auto;
        margin-right: auto; */
    }

    #aboutmeheadshot {
        width: 538px;
    }
    
     #middleleftcontent {
        width: 538px;
        margin-bottom: 42px;
    }

    #middlerightcontent {
        width: 538px;
        margin-left: 0;

    } 
    .portfoliodiv {
        width: 539px;
        height: 404px;
        margin-right: 0;
        margin-bottom: 40px;
    }
}